.intro{
    background: rgb(107, 103, 103);
  margin-left: 15%;
  margin-right: 9%;
    height: 25px;
    text-align: center;
    color: white;
    margin-bottom: 10px;
}
.intro1{
    border-radius: 10px;
    margin-top: 5%;
    text-align: center;
    text-indent: 5px;
    background: whitesmoke;
}


.maincontainer{
    margin-top: 15px;
    justify-content: space-between;
    display: flex;
    float: left;
    align-content: space-between;
}

.container{
    justify-content: center;
    max-width: fit-content;
    text-align: center;
    border-radius: 20px;
    background: rgb(241, 132, 132);
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    margin-left: 10%;
}
.front{
    background-image: linear-gradient(to left, blue, white);
    margin-left: -250px;
    margin-right: 20px;
    margin-top: 150%;
    justify-content: center;
    width: 500%;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    position: absolute;
}
.container:hover{
    transform: rotateY(180deg);
}
.tb{
    margin-bottom: 5px;
}
.earning a{
        text-decoration: none;
        background: rgb(135, 182, 97);
        color: white;
        opacity: 5;
        margin-top: 25px;
        border: solid;
}


.container1{
    justify-content: center;
    max-width: fit-content;
    text-align: center;
    border-radius: 20px;
    background: rgb(241, 132, 132);
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    margin-left: 10%;
}
.front1{
    border: 2px solid red;
    margin-left: -100px;
    margin-right: 50px;
    margin-top: 150%;
    justify-content: center;
    width: 400%;
    border-radius: 20px;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    position: absolute;
}
.container1:hover{
    transform: rotateY(180deg);
}


.container2{
    justify-content: center;
    max-width: fit-content;
    text-align: center;
    border-radius: 20px;
    background: rgb(241, 132, 132);
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    margin-left: 10%;
}
.front2{
    border: 2px solid red;
    margin-left: -100px;
    margin-right: 50px;
    margin-top: 150%;
    justify-content: center;
    width: 400%;
    border-radius: 20px;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    position: absolute;
}
.container2:hover{
    transform: rotateY(180deg);
}


.container3{
    justify-content: center;
    max-width: fit-content;
    text-align: center;
    border-radius: 20px;
    background: rgb(241, 132, 132);
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    margin-left: 10%;
}
.front3{
    border: 2px solid red;
    margin-left: -100px;
    margin-right: 50px;
    margin-top: 150%;
    justify-content: center;
    width: 400%;
    border-radius: 20px;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    position: absolute;
}
.container3:hover{
    transform: rotateY(180deg);
}


.container4{
    justify-content: center;
    max-width: fit-content;
    text-align: center;
    border-radius: 20px;
    background: rgb(241, 132, 132);
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    margin-left: 10%;
}
.front4{
    border: 2px solid red;
    margin-left: -100px;
    margin-right: 50px;
    margin-top: 150%;
    justify-content: center;
    width: 400%;
    border-radius: 20px;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    position: absolute;
}
.container4:hover{
    transform: rotateY(180deg);
}