body{
background-color: rgb(166, 194, 247);
}
H2{
    text-align: center;
}
.feature{
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.reason {
text-align: left;
text-decoration: none;
padding-top: 8px;
padding-bottom: 8px;
}
h3{
    text-transform: capitalize;
}
.notice{
    background: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.notice a{
    color: rgb(185, 238, 238);
    text-decoration: none;
}
.corona{
    color: red;
    text-transform: capitalize;
    background-position: center;
    font-style: italic;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 15px;
}
.intro{
    line-height: 26px;
    text-align: center;
    color: white;
    margin-bottom: 10px;
}
.intro1{
    text-align: center;
    text-indent: 5px;
    background: whitesmoke;
}
.add{
    background-image: linear-gradient(rgb(245, 138, 138), white);
    border-radius: 5px;
}
.earning {
    margin:10px;
    color: white;
    border-radius: 10px;
    background: green;
    margin-top: 4px;
    border: 3px solid black;
    text-decoration: none;
    font-weight:bold;
    text-transform: uppercase;
}
.earning a{
    color: white;
    text-decoration: none;
}
.supermajor{
    margin-top:10px;
    position:relative;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
}


.major{
    align-content: space-between;
    float: inline-start;
    margin-top: 10%;
    margin-top: auto;
    position: relative;
}
.thecard{
    margin-left: 15px;
    align-items: center;
    position:relative;
    max-height: max-content;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    backface-visibility: hidden;
    
}
.thefront{
    margin-left: 5%;
    position: absolute;
    max-width: fit-content;
    max-height: max-content;
    padding-top: 25px;
    backface-visibility: hidden;
    background:rgba(255, 255, 0, 0.521);
    color: black;
    text-align: center;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.end{
    padding-left: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    background: rgb(193, 209, 238);
    margin-top: 15px;
    padding-top: 25px;
    position: relative;
    max-width: max-content;
    max-height: fit-content;
    backface-visibility: hidden;
    color: rgb(20, 18, 18);
    border-radius: 20px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    transform: rotateY(180deg);
    text-align: center;
}
.again{
    color: red;
}
.thecard:hover{
    transform: rotateY(180deg);
}






.major1{
    position: relative;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.thecard1{
    margin-left: 5%;
    align-items: center;
    position: relative;
    max-height: max-content;
    max-width: max-content;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    backface-visibility: hidden;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    backface-visibility: hidden;
}

.more{
    color: red;
}

.thefront1{
    margin-left: 0%;
    position: absolute;
    max-width: max-content;
    max-height: max-content;
    padding-top: 25px;
    backface-visibility: hidden;
    background:rgba(255, 255, 0, 0.521);
    color: dark;
    text-align: center;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0%;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.aims{
    text-align: center;
    text-transform: uppercase;
    font-style: italic;

}
.end1{
    padding: 0 0 0 0 ;
    position:relative;
    background: rgb(193, 209, 238);
    max-width: max-content;
    max-height: fit-content;
    backface-visibility: hidden;
    color: rgb(20, 18, 18);
    border-radius: 20px;
    transform: rotateY(180deg);
    text-decoration: none;
}
.aims1 ul li{
    color: rgb(24, 29, 29);
    font-family: Arial, Helvetica, sans-serif;
}
.jaareg{
    background: rgb(247, 247, 151) ;
    border: 1px solid rgb(247, 247, 151);
    border-radius: 5px;
    padding-bottom: 4px;
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
}
.jaareg a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.thecard1:hover{
    transform: rotateY(180deg);
}
.help{
    text-align: center;
    background-image: linear-gradient(rgb(245, 138, 138), white);
    border-radius: 5px;
}
.private{
    text-align: center;
}

